# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log

# Build output
dist/

# Angular
frontend/dist/

# Backend uploads
backend/uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
